/* ***************************************************************** */
/* ***************************************************************** */
/* ***************************************************************** */

.close-icon {
  width: 12px;
  transform: rotate(180deg);
  margin: 8px 0px 8px 0px;
  cursor: pointer;
}

/* ************************ */

.price {
  margin-top: 16px;
}

/* ************************ */

.title {
  margin-bottom: 24px;
}

/* ************************ */

.description {
  margin-bottom: 24px;
}

/* ************************ */

.detail-btn {
  width: 100%;
  margin: 0 auto;
}

/* ***************************************************************** */
/* ***************************************************************** */
/* ***************************************************************** */
/* Media queries */

@media screen and (min-width: 600px) {
  .product-detail {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  .price {
    margin-top: 0;
  }

  .detail-btn {
    margin: 0;
  }
}
