/* ***************************************************************** */
/* ***************************************************************** */
/* ***************************************************************** */

.product-page-container {
  padding-bottom: 36px;
}

/* ************************ */

.close-icon {
  width: 12px;
  transform: rotate(180deg);
  margin: 8px 0px 8px 12px;
  cursor: pointer;
}

/* ************************ */

.info-container {
  padding: 0 36px;
}

/* ************************ */

.price {
  margin-top: 16px;
}

/* ************************ */

.title {
  margin-bottom: 24px;
}

/* ************************ */

.description {
  margin-bottom: 24px;
}

/* ************************ */
/* ************************ */
/* ************************ */
/* Update button */

.update,
.delete {
  margin-top: 16px;
}

/* ***************************************************************** */
/* ***************************************************************** */
/* ***************************************************************** */
/* Media queries */

@media screen and (min-width: 600px) {
  .product-detail {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .img-container {
    padding-left: 36px;
  }

  .close-icon {
    margin-left: 36px;
  }
}
