:root{
    --white: #FFFFFF;
    --black: #000000;
    --very-light-pink: #C7C7C7;
    --text-input-field: #F7F7F7;
    --hospital-green: #ACD9B2;
    --dark: #232830;
    --sm: 14px;
    --md: 16px;
    --lg: 18px;        
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Quicksand', sans-serif;
}

nav{
    display: flex;
    width: 100vh;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
    height: 70px;
    background-color: var(--text-input-field);
    border-bottom: 1px solid var(--very-light-pink);
    margin-bottom: 24px;
}

.menu{
    display: none;
}

.logo{
    width: 100px;
}

.logo:hover{
    cursor: pointer;
}

.navbar-left{
    display: flex;
}

.navbar-left ul{
    margin-left: 12px;
}

.navbar-left ul, .navbar-right ul{
    list-style: none;
    display: flex;
    align-items: center;
}

.navbar-left ul a, .navbar-right ul a{
    text-decoration: none;
    color: var(--very-light-pink);
    border: 1px solid var(--text-input-field);
    border-radius: 8px;
    padding: 8px;
}

.navbar-left ul a:hover, .navbar-right ul a:hover{
    border-color: var(--hospital-green);
    color: var(--hospital-green);
}

.email{
    color: var(--very-light-pink);
    font-size: var(--sm);
    margin-right: 12px;
}

.email:hover{
    cursor: pointer;
    color: var(--hospital-green);
    font-weight: bold;
}

.shopping-car{
    display: flex;
    align-items: center;
    position: relative;
}

.shopping-car:hover{
    cursor: pointer;
}

.shopping-car .quantity{
    font-size: var(--sm);
    font-weight: bold;
    width: 18px;
    height: 18px;
    background-color: var(--hospital-green);
    border-radius: 50%;
    text-align: center;
    position: absolute;
    top: -10px;
    left: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-container{
    padding-bottom: 24px;
}

.cards-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, 240px);
    gap: 26px;
    place-content: center;
}

.product-card{
    width: 240px;
}

.product-card .product-img{
    width: 240px;
    height: 240px;
    border-radius: 20px;
    object-fit: cover;
}

.product-card .product-img:hover{
    cursor: pointer;
}

.product-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 12px;
}

.product-info figure img{
    width: 35px;
    height: 35px;
}

.product-info figure img:hover{
    cursor: pointer;
}

.product-info div p:nth-child(1){
    font-weight: bold;
    font-size: var(--md);
    margin-bottom: 4px;
}

.product-info div p:nth-child(2){
    font-size: var(--sm);
    margin-top: 0;
    margin-bottom: 0;
    color: var(--very-light-pink);
}

@media (max-width: 640px){
    .cards-container{
        grid-template-columns: repeat(auto-fill, 140px);
    }
    
    .product-card{
        width: 140px;
    }
    
    .product-card .product-img{
        width: 140px;
        height: 140px;
    }

    .menu{
        display: block;
    }

    .navbar-left ul{
        display: none;
    }

    .email{
        display: none;
    }
}