<!-- *************************************************************** -->
<!-- *************************************************************** -->
<!-- *************************************************************** -->

<img
  [class.product-img]="!isDetailImage"
  [class.detail-img]="isDetailImage"
  [src]="src"
  (error)="imgError()"
  *ngIf="src; else emptyImg"
/>

<!-- ************************************* -->

<ng-template #emptyImg>
  <img
    [class.product-img]="!isDetailImage"
    [class.detail-img]="isDetailImage"
    [src]="emptyImage"
  />
</ng-template>

<!-- *************************************************************** -->
<!-- *************************************************************** -->
<!-- *************************************************************** -->
