<div *ngIf="user" class="profile-page-container limits full-padding">
  <h2 class="large-title">
    Name: <span class="large-body">{{ user.name }}</span>
  </h2>
  <h2 class="large-title">
    Email: <span class="large-body">{{ user.email }}</span>
  </h2>
  <div class="btn-container">
    <button
      *ngIf="user.role === 'admin'"
      class="btn btn-primary"
      routerLink="/cms"
    >
      CMS
    </button>
    <button class="btn btn-secondary" (click)="logout()">Log Out</button>
  </div>
</div>
