/* ***************************************************************** */
/* ***************************************************************** */
/* ***************************************************************** */
/* Products component container */

.products-component-container {
  display: grid;
  place-items: center;
}

/* ***************************************************************** */
/* ***************************************************************** */
/* ***************************************************************** */
/* Product grid */

.products-grid {
  padding: 18px;

  display: grid;
  justify-items: center;
  align-items: start;
  gap: 18px;
}

/* ***************************************************************** */
/* ***************************************************************** */
/* ***************************************************************** */
/* Show More button */

.show-btn {
  width: 100%;
  margin-top: 32px;
}

/* ***************************************************************** */
/* ***************************************************************** */
/* ***************************************************************** */
/* Media queries */

@media screen and (min-width: 380px) {
  .products-grid {
    grid-template-columns: 1fr 1fr;
  }
}

/* ************************ */

@media screen and (min-width: 561px) {
  .products-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* ************************ */

@media screen and (min-width: 1182px) {
  .products-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

/* ************************ */

@media screen and (min-width: 1464px) {
  .products-grid {
    grid-template-columns: repeat(5, 1fr);
  }
}
