<div
  class="products-component-container limits vertical-padding"
  *ngIf="products.length !== 0"
>
  <!-- ************************************************************************************** -->
  <!-- ************************************************************************************** -->
  <!-- ************************************************************************************** -->
  <!-- Products grid -->

  <div class="products-grid">
    <app-product
      *ngFor="let product of products"
      [product]="product"
      (addedProduct)="addProductToShoppingList($event)"
      (removedProduct)="removeProductToShoppingList($event)"
    ></app-product>
  </div>

  <!-- ************************************************************************************** -->
  <!-- ************************************************************************************** -->
  <!-- ************************************************************************************** -->
  <!-- Show More products -->

  <button
    class="show-btn btn btn-primary large-body"
    (click)="showMoreProducts()"
  >
    Show more products
  </button>
</div>
