/* ***************************************************************** */
/* ***************************************************************** */
/* ***************************************************************** */

.product-card {
  width: 163px;
}

.info-container {
  margin-top: 8px;

  display: flex;
  justify-content: space-between;
  align-items: start;
}

.price,
.title,
.add-cart-icon {
  cursor: pointer;
}

/* ***************************************************************** */
/* ***************************************************************** */
/* ***************************************************************** */
/* Media queries */

@media screen and (min-width: 840px) {
  .product-card {
    width: 256px;
  }
}
