<!-- ********************************************************************************** -->
<!-- ********************************************************************************** -->
<!--  -->
<router-outlet></router-outlet>

<!-- <button (click)="login()">Login</button> -->
<!-- <button (click)="getProfile()">Get profile</button> -->
<!-- <button (click)="downloadPDF()">Download PDF</button> -->

<!-- ********************************************************************************** -->
<!-- ********************************************************************************** -->
