<div class="cms-layout-container limits">
  <!-- **************************************************************** -->
  <!-- **************************************************************** -->
  <!-- **************************************************************** -->
  <!-- Header -->

  <header class="header">
    <div class="logo-container">
      <img
        class="logo"
        src="../../../../assets/logos/logo_yard_sale.svg"
        routerLink="grid"
      />
      <span class="large-title">CMS</span>
    </div>
    <a class="large-title" routerLink="/home">Store</a>
  </header>

  <!-- **************************************************************** -->
  <!-- **************************************************************** -->
  <!-- **************************************************************** -->

  <div class="grid-container">
    <!-- ********************************** -->
    <!-- ********************************** -->
    <!-- Nav menu -->

    <nav class="nav-menu">
      <ul>
        <li><a routerLink="grid" routerLinkActive="active-link">Grid</a></li>
        <li><a routerLink="tasks" routerLinkActive="active-link">Tasks</a></li>
      </ul>
    </nav>

    <!-- ********************************** -->
    <!-- ********************************** -->
    <!-- Pages -->

    <main>
      <router-outlet></router-outlet>
    </main>

    <!-- ********************************** -->
    <!-- ********************************** -->
  </div>

  <!-- **************************************************************** -->
  <!-- **************************************************************** -->
  <!-- **************************************************************** -->
</div>
